# =========================
# OS
# =========================

.DS_Store
Thumbs.db

# =========================
# Editor
# =========================

*.swp
*.swo
*~
.vscode/
.idea/

# =========================
# Shell history / temp
# =========================

.history
.cache/
.tmp/

# =========================
# Secrets
# =========================

.env
.env.*
*.key
*.pem
*.crt
*.p12
*.secret

# ssh / gpg
.ssh/
.gnupg/

# =========================
# Logs
# =========================

logs/
*.log

# =========================
# Vim 
# =========================
vim/.vim/plugged/
.netrwhist

# =========================
# Neovim
# =========================

# =========================
# Zsh / Bash
# =========================

.zcompdump*
.zsh_history
.bash_history

